#jb stuff
cc.py
concatenated.txt

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/dist
*$py.class

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache


# Environments
# Local env files
.env
.dev.vars
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mkdocs documentation
/site

