#jb stuff
cc.py
concatenated.txt

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache


# Environments
# Local env files
.env
.dev.vars
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mkdocs documentation
/site

